h1{
    background-color: aqua;
    height: 200px;
    width:auto;

    border-width: 15px;
    border-style: dotted;
    border-color: aquamarine;

    border: 10px solid aquamarine;
    padding: 30px;
    margin:30;

}

h2{
    background-color: pink;
    border: 2px solid blue;
    padding : 5px;
    border-radius: 5px;
}
p{
    background-color: blueviolet;
    padding: 15px;
    border: 5px solid;
    border-color: black;
    margin: 15px;


}