/* h1{
    background-color: pink;
}

ul{
    background-color: aquamarine;
}

#Exercise{
    background-color: blanchedalmond;

}
#First{
    background-color: blueviolet;
} */

/* Group based Selection */
h1{
    font-size: 40pxf;
}
h1 , .list{
    background-color: rgb(221, 221, 176);
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    align-content: center;
}
