*{
    background-color: bisque;
}
.container{
    background-color: chartreuse;
    display: flex;
    flex-direction: row-reverse;
    height:200px;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap ;
    

}
.box{
    height:100px;
    width: 100px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.first{
    background-color: aquamarine;
}

.second{
    background-color: azure;
}

.third{
    background-color: blueviolet;
}

.fourth{
    background-color: brown;
}


#public{
    background-color: cadetblue;
    display:flex;
}
